<table class="table table-striped">
  <thead>
    <tr>
      <th>词汇</th>
    </tr>
  </thead>
  <tbody>
    <% for(let tag of tags) { %>
      <tr><td><%= tag.name %></td></tr>
    <% } %>
  </tbody>
</table>